
@using Microsoft.AspNetCore.Http

@using System.Security.Claims
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using BiodataTest.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> UserManager
@*@inject IHttpContextAccessor HttpContextAccessor*@


<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>Biodata Test application</title>
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/argon-dashboard-pro" />


    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/assets/vendor/%40fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="~/assets/css/argon.mine209.css?v=1.0.0" type="text/css">
    <link rel="stylesheet" href="~/css/loading.css">
    <link href="~/sweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/sweetAlert/sweetalert.min.js"></script>

    <script src="~/lib/jquery/jquery.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '../../../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header d-flex align-items-center" style="background-color:cadetblue; height:80px">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    @*<img src="~/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">*@
                    <img src="~/PersonalImages/PayrollImg.png" class="navbar-brand-img" alt="..." />
                    @*<span class="nav-link-text">Biodata Mgt</span>*@
                </a>
                <div class="ml-auto">
                    <!-- Sidenav toggler -->
                    <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            @*<i class="nav-item">
                                    <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                                </i>*@
                        </div>
                    </div>
                </div>
            </div>
            <!--Side bar left top-->
            <div class="navbar-inner" style="background-color:lightblue">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                        @*<li class="nav-item">
                                <a asp-controller="Home" asp-action="Index" class="nav-link active" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                                    <i class="ni ni-shop text-primary"></i>
                                    <span class="nav-link-text">Home</span>
                                </a>
                            </li>*@
                        @*@if (HttpContextAccessor.HttpContext.User.FindFirst("ApplicationRole").Value.Contains("Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="#admin" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="admin">
                                        <i class="ni ni-archive-2 text-green"></i>
                                        <span class="nav-link-text">Admin</span>
                                    </a>
                                    <div class="collapse" id="admin">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a asp-controller="Account" asp-action="Roles" class="nav-link">Roles</a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-controller="Account" asp-action="UserRoles" class="nav-link">User Role</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#approvalconfig" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="approvalconfig">
                                        <i class="ni ni-single-copy-04 text-pink"></i>
                                        <span class="nav-link-text">Approval Config</span>
                                    </a>
                                    <div class="collapse" id="approvalconfig">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a asp-controller="ApprovalConfig" asp-action="Index" class="nav-link">List</a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-controller="ApprovalConfig" asp-action="Create" class="nav-link">Create</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#Category" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="Category">
                                        <i class="ni ni-ui-04 text-info"></i>
                                        <span class="nav-link-text">Item Category</span>
                                    </a>
                                    <div id="Category" class="collapse">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a asp-controller="ItemCategory" asp-action="Index" class="nav-link">List</a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-controller="ItemCategory" asp-action="Create" class="nav-link">Create</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }*@
                        <li class="nav-item">
                            <a class="nav-link" href="#requisition" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="requisition">
                                <i class="ni ni-books text-blue"></i>
                                <span class="nav-link-text">Bio Data</span>
                            </a>

                            @*<li><a asp-controller="Contact" asp-action="Index">Contact</a></li>*@
                            @if (SignInManager.IsSignedIn(User))// && User.IsInRole("Administrator"))
                            {
                                // @await Component.InvokeAsync("AdminMenu")


                                <div class="collapse" id="requisition">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a asp-controller="BioData" asp-action="existedBiodata" class="nav-link">List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="BioData" asp-action="CreateBioData" class="nav-link">New Biodata</a>
                                        </li>

                                        <li class="nav-item">
                                            <a asp-controller="Account" asp-action="RegisterUser" class="nav-link">Register New User</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="BioData" asp-action="approvedstaffCatalog" class="nav-link">Add to Catlog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Account" asp-action="getAllUsers" class="nav-link">View Users</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
                                        </li>
                                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-action="Logout1"  asp-page="/Account/Logout1">Logout2</a>
        </li>*@

                                    </ul>
                                </div>
                            }


                        </li>
                        <!--Second menu left side bar-->

                        <li class="nav-item">
                            <a class="nav-link" href="#requisition" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="requisition">
                                <i class="ni ni-books text-blue"></i>
                                <span class="nav-link-text">Setups</span>
                            </a>

                            @*<li><a asp-controller="Contact" asp-action="Index">Contact</a></li>*@
                            @if (SignInManager.IsSignedIn(User))// && User.IsInRole("Administrator"))
                            {
                                // @await Component.InvokeAsync("AdminMenu")


                                <div class="collapse" id="requisition">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a asp-controller="Dept" asp-action="CreateDept" class="nav-link">Department</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Dept" asp-action="ExistingDept" class="nav-link">View Department</a>
                                        </li>

                                        <li class="nav-item">
                                            <a asp-controller="Account" asp-action="createRole" class="nav-link">Create Role</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Account" asp-action="getAllRoles" class="nav-link">View Roles</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="CreateCategory" asp-controller="Category" class="nav-link">Create New Category</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="existedCategories" asp-controller="Category" class="nav-link">View Category</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="CreateSkills" asp-controller="Skills" class="nav-link">Create Skills</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="CreateCareer" asp-controller="Career" class="nav-link">Create Career</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="existedCareers" asp-controller="Career" class="nav-link">View Career</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="existedApplications" asp-controller="Career" class="nav-link">View Applications</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            }


                        </li>



                        @*@if (Convert.ToInt16(HttpContextAccessor.HttpContext.User.FindFirst("UserApprovalLevel").Value) > 0)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="#approval" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="approval">
                                        <i class="ni ni-check-bold text-green"></i>
                                        <span class="nav-link-text">Approval</span>
                                    </a>
                                    <div class="collapse" id="approval">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a asp-controller="Approval" asp-action="Index" class="nav-link">Pending Approvals</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }

                            @if(HttpContextAccessor.HttpContext.User.FindFirst("ApplicationRole").Value.Contains("Store"))
                            {
                                    <li class="nav-item">
                                        <a class="nav-link" href="#navbarstore" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbarstore">
                                            <i class="ni ni-cart text-red"></i>
                                            <span class="nav-link-text">Store</span>
                                        </a>
                                        <div class="collapse" id="navbarstore">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a asp-controller="Store" asp-action="Index" class="nav-link">Disburse Request</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                             }*@
                        @*<li class="nav-item">
                                <a class="nav-link" href="../charts.html">
                                    <i class="ni ni-chart-pie-35 text-info"></i>
                                    <span class="nav-link-text">Charts</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../calendar.html">
                                    <i class="ni ni-calendar-grid-58 text-red"></i>
                                    <span class="nav-link-text">Calendar</span>
                                </a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
            @*<nav class="navbar" style="height: 80px; background-color:
                ">*@
            @*<img src="~/PersonalImages/Payrolltoplogolong.png" class="navbar-brand-img" alt="..." />*@
            <div class="container-fluid">
                @*<img src="~/PersonalImages/Payrolltoplogolong.png" class="navbar-brand-img" alt="..." />*@
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @*<img src="~/PersonalImages/Payrolltoplogolong.png" class="navbar-brand-img" alt="..." />*@
                    <h1 class="text-white">Testing Sol</h1>
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center ml-md-auto">
                        <li class="nav-item d-xl-none">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-sm-none">
                            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                                <i class="ni ni-zoom-split-in"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center ml-auto ml-md-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                                    <span><i class="ni ni-single-02"></i></span>
                                    <div class="media-body ml-2 d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">@User.Identity.Name</span>
                                    </div>
                                </div>
                            </a>
                            <a>
                                <div class="dropdown-menu dropdown-menu-right">

                                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                                        <button type="submit" class="dropdown-item">
                                            <i class="ni ni-user-run"></i>
                                            <span>Logout</span>
                                        </button>
                                    </form>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Second Header -->
        <!--<div class="header bg-primary pb-4">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <!--Put view data bag here-->
        <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link active" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
                            <div class="col-lg-6 col-5 text-right">
                                <a asp-controller="Account" asp-action="RegisterUser" class="btn btn-sm btn-neutral">Register new User</a>
                                @*<a href="#" class="btn btn-sm btn-neutral">Filters</a>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
        <!-- Page content -->
        <div class="container-fluid mt--6">
            @*<partial name="_login" />*@
            @*  <partial name="_CookieConsentPartial" />*@
            <partial name="_NotificationPanel" />

            @RenderBody()

            @*@if (User.Identity.IsAuthenticated)
                {
                    <table class="table table-sm ">
                        @foreach (var claim in User.Claims)
                        {
                            <tr>
                                <td>@claim.Type</td>
                                <td>@claim.Value</td>
                            </tr>
                        }

                    </table>
                }*@
            <partial name="_Loading" />
            <!-- Footer -->
            <footer class="footer pt-0">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6">
                        <div class="copyright text-center text-lg-left text-muted">
                            &copy; 2018 @*<a href="https://www.creative-tim.com/" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>*@
                        </div>
                    </div>

                </div>
            </footer>
        </div>
    </div>
    <!-- Agbon Added Scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" />
    <script type="text/javascript" src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>

    <!-- Core -->
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <script src="~/assets/vendor/lavalamp/js/jquery.lavalamp.min.js"></script>
    <!-- Optional JS -->
    <script src="~/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="~/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="~/assets/js/argon.mine209.js?v=1.0.0"></script>
    <!-- Demo JS - remove this in your project -->
    <script src="~/assets/js/demo.min.js"></script>
    <script>
        // Facebook Pixel Code Don't Delete
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '../../../../connect.facebook.net/en_US/fbevents.js');

        try {
            fbq('init', '111649226022273');
            fbq('track', "PageView");

        } catch (err) {
            console.log('Facebook Track Error:', err);
        }
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&amp;ev=PageView&amp;noscript=1" />
    </noscript>

    <script type="text/javascript">
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });
        function displayBusyIndicator() {
            $('.loading').show();
        }
    </script>
</body>

<!-- Mirrored from demos.creative-tim.com/argon-dashboard-pro/pages/dashboards/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Feb 2019 09:19:36 GMT -->
</html>