<form asp-controller="Account" asp-action="Logout" method="get">
    <button type="submit" class="dropdown-item">
        <i class="ni ni-user-run"></i>
        <span>Logout</span>
    </button>
</form>