@model BiodataTest.ViewModels.UsersViewModels

@{
    ViewData["Title"] = "RemoveUserRole";
}


<div class="panel panel-default">
    <div class="panel-body">
        <form asp-action="RemoveUserRole" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading">Remove User from role</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="UserName" class="control-label"></label>
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" readonly />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" readonly />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="RoleName" class="control-label"></label>

                                    <select multiple asp-for="RoleId" id="roleId" class="form-control" asp-items="@(new SelectList(@ViewBag.listofRoles,"Id","Name"))">
                                    </select>
                                </div>

                            </div>

                            <div class="col-md-4">


                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="submit" value="Remove" class="btn btn-primary" />
                                </div>

                            </div>

                            <div class="col-md-2">

                               
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

