
<div class="about-section">
    <h4>This solution serves as an outsourcing platform for both Employer and Applicant:</h4>
    <h5>Admin:</h5>
    <p>(a) upload available career</p>
    <p>(b) setup required skills for career</p>
    <p>(c) setup price for each career based on years of experience</p>
    <p>(d) review and approved/reject applicants</p>
    <p>(e) generate PO for employer</p>
    <br />
    <h5>Applicant:</h5>
    <p>(a) check for available career with matching skills</p>
    <p>(b) apply and submit details</p>   
    <br />
    <h5>Employer:</h5>
    <p>(a) check approved available applications from applicants</p>
    <p>(b) register</p>
    <p>(c) add applications to Catlog</p>
    <p>(d) checkout and make payment</p>
    <p>(e) get applicant hired</p>
</div>
