@model BiodataTest.ViewModels.CareerViewModel

@{
    ViewData["Title"] = "CreateCareer";
}

<h1>CreateCareer</h1>

<h4>CareerViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCareer" asp-controller="Career" method="post" role="form" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CareerName" class="control-label"></label>
                <input asp-for="CareerName" class="form-control" />
                <span asp-validation-for="CareerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareerDesc" class="control-label"></label>
                <textarea asp-for="CareerDesc" class="form-control" ></textarea>
                <span asp-validation-for="CareerDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="@(new SelectList(@ViewBag.listofCategory,"CategoryID","CategoryName"))">
                </select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
           
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CareerImgfile" class="control-label"></label>
                <input asp-for="CareerImgfile" class="form-control" type="file" />
                <span asp-validation-for="CareerImgfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

